body {
  background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes:wght@300;400;500;600;700&display=swap');

header {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
  margin-bottom: 50px;
  
}


.top-container {
  display: flex;
  align-items: stretch;
}

.logo {
  flex-grow: 1;
}

.search {
  flex-grow: 3;
}

.user {
  flex-grow: 0.1;
}

.shop {
  flex-grow: 0.1;
}

header .container {
  width: 100%;
}

header .menu {
  border-top: 2px solid black;
  margin-top: 20px;
  padding-top: 10px;
}

header .user{
  float: right;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  font-family:Great Vibes;
  font-size: 40px;
  font-weight: bold;
}

main {
  margin-top: 50px;
}

h1 {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  text-align: center;
  font-size: 14px;
}

.product-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-image {
  width: 200px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
}

.product-price {
  font-size: 16px;
  color: red;
}
